*
  letter-spacing 0 !important

body
  background #fff
  margin 0 3em
  padding 0
  border none
  font-size 14px
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif

.cv
  width 100%
  max-width  100%
  padding  0
  background-image  none
  box-shadow none

  ul
    padding-left 17px

  .header
    border none !important

  .cv-section
    width 100%
    margin-top 20px

  .my-name
    font-size 50px

  .my-job
    margin-top 20px

  .header
    .col-1-3
      width 48%

  .skill
    .col-1-2
      width 47%
      display inline-block

  .academic
    .section-title
      margin-bottom 25px


  .contact-info
    margin 0 0 10px

  .bio
  .profile
  .contact-linkedin
    display none

  .job-title
  .job-company
    display inline-block
    font-size 14px
    margin 15px 5px 0 0

  .job-company
    font-weight 400

  .job-date
    margin 5px 0

  .job-description
  .course-description
    margin-top 0

  h1
  h2
  h3
  h4
    margin-bottom 0px

  h2
  h4
    margin-top 2px

  .col-1-3
  .col-2-3
  .col-1-2
    width 100%
