$primary = #E00
$secondary = #444
$gray-light = #EEE
$gray = #CCC
$gray-dark = #444

html
  border-top 5px solid $primary

a
  color $primary
  &:hover
    color $secondary
    text-decoration none

body
  background $gray-light
  font-size 13px
  line-height 1.4em
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  color $secondary
  margin 0 20px
  box-sizing border-box
  color #222

.cv
  background #fff
  box-shadow 0px 3px 7px rgba(0, 0, 0, 0.2)
  border-radius 3px
  max-width 900px
  margin 20px auto
  padding 20px

.header
  border-top 3px solid #000
  padding-top 20px
  margin-bottom 10px

.my
  &-name
    line-height 0.85em
    font-size 84px
    +above(890px)
      font-size 65px
    margin 0
  &-job
    font-size 29px
    +above(890px)
      font-size 22px

.bio
  &-pic
    display inline
    vertical-align top
    img
      border 1px solid #ccc
      padding 4px
  &-text
    float right
    font-size 12px
    margin 0
    vertical-align top
    width calc(100% - 150px)
    max-width 200px

.contact
  &-list
    font-size 12px
    +above(890px)
      margin 0 0 0 20px
  &-label
    font-weight 500
    display inline-block
    width 40px
  &-info
    display inline-block
    margin-left 5px
    width calc(100% - 60px)

.cv-session
  border-top 1px solid #000
  padding-top 10px
  margin-bottom 10px

.section-title
  font-size 35px
  color $gray-dark
  line-height 1em
  margin-top 10px
  span
    display block

.skill-list
  list-style none
  padding 0

.skill
  font-weight 600
  margin-bottom 5px
  &-separator
    color $gray

.job
  vertical-align top
  padding-top 10px
  &:not(:last-child)
    border-bottom 1px solid $primary
  &-title
    margin 0
  &-description
    margin-top 0
    +above(890px)
      padding-left 20px
  &-company
    margin 0
    font-weight 400
  &-date
    strong
      display block

.courses
  list-style none
  padding 0
  margin 0

.course
  &:not(:last-child)
    border-bottom 1px solid $primary
    padding-bottom 15px
  &-title
    margin 0 0 5px
  &-place
    margin 0
  &-description
    margin 0
  &:not(:last-child)
    margin-bottom 20px

.col-1-3
.col-2-3
.col-1-2
  display inline-block
  vertical-align top

+above(890px)
  .col-1-3
    width 33%
  .col-2-3
    width 66%
  .col-1-2
    width 49%
