* {
  letter-spacing: 0 !important;
}
body {
  background: #fff;
  margin: 0 3em;
  padding: 0;
  border: none;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cv {
  width: 100%;
  max-width: 100%;
  padding: 0;
  background-image: none;
  box-shadow: none;
}
.cv ul {
  padding-left: 17px;
}
.cv .header {
  border: none !important;
}
.cv .cv-section {
  width: 100%;
  margin-top: 20px;
}
.cv .my-name {
  font-size: 50px;
}
.cv .my-job {
  margin-top: 20px;
}
.cv .header .col-1-3 {
  width: 48%;
}
.cv .skill .col-1-2 {
  width: 47%;
  display: inline-block;
}
.cv .academic .section-title {
  margin-bottom: 25px;
}
.cv .contact-info {
  margin: 0 0 10px;
}
.cv .bio,
.cv .profile,
.cv .contact-linkedin {
  display: none;
}
.cv .job-title,
.cv .job-company {
  display: inline-block;
  font-size: 14px;
  margin: 15px 5px 0 0;
}
.cv .job-company {
  font-weight: 400;
}
.cv .job-date {
  margin: 5px 0;
}
.cv .job-description,
.cv .course-description {
  margin-top: 0;
}
.cv h1,
.cv h2,
.cv h3,
.cv h4 {
  margin-bottom: 0px;
}
.cv h2,
.cv h4 {
  margin-top: 2px;
}
.cv .col-1-3,
.cv .col-2-3,
.cv .col-1-2 {
  width: 100%;
}
