html {
  border-top: 5px solid #e00;
}
a {
  color: #e00;
}
a:hover {
  color: #444;
  text-decoration: none;
}
body {
  background: #eee;
  font-size: 13px;
  line-height: 1.4em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  margin: 0 20px;
  box-sizing: border-box;
  color: #222;
}
.cv {
  background: #fff;
  box-shadow: 0px 3px 7px rgba(0,0,0,0.2);
  border-radius: 3px;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}
.header {
  border-top: 3px solid #000;
  padding-top: 20px;
  margin-bottom: 10px;
}
.my-name {
  line-height: 0.85em;
  font-size: 84px;
  margin: 0;
}
@media only screen and (min-width: 890px) {
  .my-name {
    font-size: 65px;
  }
}
.my-job {
  font-size: 29px;
}
@media only screen and (min-width: 890px) {
  .my-job {
    font-size: 22px;
  }
}
.bio-pic {
  display: inline;
  vertical-align: top;
}
.bio-pic img {
  border: 1px solid #ccc;
  padding: 4px;
}
.bio-text {
  float: right;
  font-size: 12px;
  margin: 0;
  vertical-align: top;
  width: calc(100% - 150px);
  max-width: 200px;
}
.contact-list {
  font-size: 12px;
}
@media only screen and (min-width: 890px) {
  .contact-list {
    margin: 0 0 0 20px;
  }
}
.contact-label {
  font-weight: 500;
  display: inline-block;
  width: 40px;
}
.contact-info {
  display: inline-block;
  margin-left: 5px;
  width: calc(100% - 60px);
}
.cv-session {
  border-top: 1px solid #000;
  padding-top: 10px;
  margin-bottom: 10px;
}
.section-title {
  font-size: 35px;
  color: #444;
  line-height: 1em;
  margin-top: 10px;
}
.section-title span {
  display: block;
}
.skill-list {
  list-style: none;
  padding: 0;
}
.skill {
  font-weight: 600;
  margin-bottom: 5px;
}
.skill-separator {
  color: #ccc;
}
.job {
  vertical-align: top;
  padding-top: 10px;
}
.job:not(:last-child) {
  border-bottom: 1px solid #e00;
}
.job-title {
  margin: 0;
}
.job-description {
  margin-top: 0;
}
@media only screen and (min-width: 890px) {
  .job-description {
    padding-left: 20px;
  }
}
.job-company {
  margin: 0;
  font-weight: 400;
}
.job-date strong {
  display: block;
}
.courses {
  list-style: none;
  padding: 0;
  margin: 0;
}
.course:not(:last-child) {
  border-bottom: 1px solid #e00;
  padding-bottom: 15px;
}
.course-title {
  margin: 0 0 5px;
}
.course-place {
  margin: 0;
}
.course-description {
  margin: 0;
}
.course:not(:last-child) {
  margin-bottom: 20px;
}
.col-1-3,
.col-2-3,
.col-1-2 {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 890px) {
  .col-1-3 {
    width: 33%;
  }
  .col-2-3 {
    width: 66%;
  }
  .col-1-2 {
    width: 49%;
  }
}
