* { letter-spacing: 0!important; }

body {
	background: #fff;
	margin: 0 3em;
	padding: 0;
	border: none;
	font-size: 12px;
}

#wrap, #bg {
	width: 100%;
	max-width: 100%;
	padding: 0;
	background-image: none;
	box-shadow:none;
}

#wrap, .titlecolumn, .topsection { border: none!important; }

.section { width: 100%; margin-top: 20px; }

.myname{font-size:  3em}

.sectiontitle{font-size:  2em}

.column, .largecolumn, .titlecolumn {
	float: none;
	clear: both;
	margin-left: 0;
	width: 100%;
	max-width:100%;
	margin: 0;
	padding-top: 0;
}

.ruler {
	width: 100%;
	float: none;
	clear: both;
}

.myphoto, .portfolio { display: none; }

.topsection dl { margin-top: 0!important; }

.socialmedia { display: none; }

.skillbar { background: none; }

.skillbarfill {
	text-indent: 0;
	font-size: 12px;
	background: none;
}

.employer { margin-bottom: 30px; }

.thumbs li { margin: 5px 20px 5px 0!important; }

.cvoptions { display: none!important; }
