/* 01. CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, u, i, center, dl, dt, dd, ol, ul, li {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
ol, ul {
	list-style:none
}
.clear:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size:0
}
.clear {
	display:inline-table
}/* Hide from IE/Mac \*/
* html .clear {
	height:1%
}
.clear {
	display:block
}/* Hide from IE/Mac */
body {
	margin:0 auto;
	background: #eee;
	font:normal normal 12px Arial, Verdana, sans-serif;
	color:#444;
	line-height:20px;
	border-top: 5px solid #e00;
}
#bg {
	padding:30px 0;
}
#wrap {
	max-width:900px;
    padding: 2%;
    width: 96%;
	margin:0 auto;
	background:#fff;
	border-bottom:5px solid #555;
	background:#fff;
	box-shadow: 0 0 10px #A2A2A2;
}
a {
	color:#d40;
	text-decoration:underline;
	outline:none;
}
a:hover {
	color:#000;
}
a img {
	border:0
}
p {
	margin:1em 0 0 0;
	padding:0;
}
p:first-child {
	margin-top:0;
}
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
ul {
	margin:1em 0 0 20px;
	list-style-type:square;
}
.mt0 {
	margin-top:0;
}
.mt10 {
	margin-top:10px;
}
.mt20 {
	margin-top:20px;
}
.mt30 {
	margin-top:30px;
}
.ml0 {
	margin-left:0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.ruler {
	clear:both;
	display:block;
	height:1px;
	width:100%;
	border-bottom:1px solid #e30;
	margin:0 0 30px 0;
	padding:30px 0 0 0;
}
.section {
	width:100%;
	clear:both;
	margin-top:50px;
	border-top:1px solid #000;
}
.topsection {
	margin-top:0;
	border-top:4px solid #000;
}
.column {
	width:280px;
	float:left;
	margin-right:30px;
	padding-top:30px;
}
.largecolumn {
	min-width:280px;
	max-width:590px;
	width:66%;
	float:left;
	margin-right:0;
	padding-top:30px;
}
.lastcolumn {
	margin-right:0;
}
.largecolumn .column {
	padding-top:0;
}
.titlecolumn {
	margin-left:0;
	border-top:1px solid #000;
	padding-top:29px;
}
.topsection .titlecolumn {
	border-top:2px solid #000;
}/* 03. Content elements */
h1, h2, h3, h4, h5, h6 {
	line-height:1.1em;
	color:#000;
	padding:0;
	margin:1em 0 0.5em 0;
}
h1 {
	font-weight:bold;
	font-size:36px;
	letter-spacing:-2px;
}
h2 {
	font-weight:bold;
	font-size:24px;
	letter-spacing:-1px;
}
h3 {
	font-weight:bold;
	font-size:18px;
	letter-spacing:-1px;
}
h4 {
	font-weight:bold;
	font-size:14px;
	letter-spacing:-1px;
	color:#666;
}
.myname {
	font-weight:bold;
	font-size: 5em;
	color:#000;
	margin:0;
	padding:0;
	line-height:56px;
	letter-spacing:-4px;
}
.myjob {
	font-weight:bold;
	font-size: 2em;
	font:normal bold 24px ;
	color:#444;
	margin:0;
	padding:0;
	line-height:26px;
	letter-spacing:-2px;
}
.sectiontitle {
	font-weight:bold;
	font-size: 3em;
	color:#444;
	margin:0;
	padding:0;
	line-height:36px;
	letter-spacing:-2px;
}
.photo {
	padding:4px;
	background:#fff;
	border:1px solid #ccc;
}
.myphoto {
	float:left;
	margin:5px 15px 0 0
}/* 03.B Social Media */
ul.socialmedia {
	display:block;
	margin:0;
	padding:0;
	list-style:none
}
ul.socialmedia li {
	display:inline-block;
	margin:0 7px 0 0;
	padding:0;
	float:left
}
ul.socialmedia li a {
	display:block;
	width:24px;
	height:24px;
	margin:0;
	padding:0;
	text-indent:-9999px
}
ul.simplelist {
	clear:both;
	display:block;
	margin:0;
	padding:0;
	list-style:none
}/* 03.D Skills */
.skill h3 {
	margin-top:0;
	font-size:16px;

}
.skillbar {
	display:block;
	width:280px;
	height:12px;
	font-size:1px;
	line-height:12px
}
.skillbarfill {
	height:12px;
	text-indent:-9999px;
	font-size:1px;
	line-height:12px
}
.skill .skill10 {
	width:10%
}
.skill .skill20 {
	width:20%
}
.skill .skill30 {
	width:30%
}
.skill .skill40 {
	width:40%
}
.skill .skill50 {
	width:50%
}
.skill .skill60 {
	width:60%
}
.skill .skill70 {
	width:70%
}
.skill .skill80 {
	width:80%
}
.skill .skill90 {
	width:90%
}
.skill .skill100 {
	width:100%
}
.employer h3, .employer h4 {
	margin-top:0
}
.studies h3 {
	margin-top:0
}
.studies h4 {
	margin:0
}
.clients h3, .works h3 {
	margin-top:0
}
ul.thumbs {
	margin:0;
	padding:0;
	list-style:none
}
ul.thumbs li {
	float:left;
	margin:5px 0 5px 20px
}

.cboxElement a:hover img.photo{
	border-color:#000;
}

.cvoptions {
	position:fixed;
	top:40%;
	display:block;
	width:29px;
	margin:0;
	padding:8px 8px 8px 6px;
	z-index:100001;
	list-style:none;
	background-color:#000;
	background-color:rgba(0, 0, 0, 0.6)
}
.cvoptions li {
	width:29px;
	height:29px;
	margin:2px 0 0 2px;
	padding:0;
	float:left
}
.cvoptions li a {
	width:29px;
	height:29px;
	display:block;
	text-indent:-9999px
}
